* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
}

.main {
  height: 100vh;
  width: 100%;
}

.header {
  height: 20vh;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: rgb(17, 17, 17);
}

.header h1,
.header label {
  color: rgb(38, 168, 118);
}

.header label {
  font-weight: 600;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls .slider {
  width: 30%;
}
.controls .amount {
  text-align: center;
}
.controls .amount label {
  margin-right: 0.2rem;
}

button {
  padding: 0.8rem;
  margin: 0.5rem;
  border-radius: 0.4em;
  border: none;
  cursor: pointer;
  color: rgb(17, 17, 17);
  background: rgb(38, 168, 118);
  font-size: 0.9em;
  font-weight: 600;
  border: 1px solid black;
}

button:hover {
  background: rgb(17, 17, 17);
  color: rgb(38, 168, 118);
  border: 1px solid rgb(38, 168, 118);
}

.bars {
  height: 80vh;
  max-height: 1000px;
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.bars2 {
  height: 80vh;
  max-height: 1000px;

  margin: 0 auto;
  display: flex;
}

.array-bar {
  background: turquoise;
  margin-left: 0.1rem;
  transition: height 0.5s ease;
}

.slider input {
  cursor: pointer;
}

.info-btn {
  height: 150px;
  width: 200px;
  background-color: rgba(230, 52, 52, 0.9);
  position: absolute;
  right: 1%;
  top: 20%;
  z-index: 1;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;

  clip-path: circle(10% at 90% 20%);
  transition: all 0.5s ease;
  cursor: pointer;
}

.info-btn:hover {
  clip-path: circle(150% at 100% 0%);
}

#i {
  position: absolute;
  top: 13%;
  right: 9%;
}

.slide {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(38, 168, 118);
  border-radius: 1em;
  height: 0.8em;
}

.slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1.5em;
  width: 1.5em;
  border-radius: 0.75em;
  background: black;
  cursor: pointer;
  border: 0.15em solid rgb(38, 168, 118);
}
